body {
    background-image: url(../images/fortune-teller-with-crystal-ball.jpg);
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 100%;
}

.header {
    background-color: cadetblue;
    opacity: 0.6;
    border: 2px solid black;
    font-family: 'Oleo Script', cursive;
    font-weight: bolder;
}

.instruction {
    background-color: cadetblue;
    opacity: 0.6;
    border: 2px solid black;
    font-family: 'Oleo Script', cursive;
}

.targetNumber {
    background-color: cadetblue;
    opacity: 0.6;
    border: 2px solid black;
    padding: 3%;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
}

.wins {
    background-color: cadetblue;
    opacity: 0.6;
    border: 2px solid black;
    padding: 5%;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
}

.losses {
    background-color: cadetblue;
    opacity: 0.6;
    border: 2px solid black;
    padding: 5%;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
}

.newScore {
    background-color: cadetblue;
    opacity: 0.6;
    border: 2px solid black;
    padding: 3%;
    font-family: 'Oleo Script', cursive; 
    font-weight: bold;
}